
.item{
    height: 350px;
}
#messy-calendar {
    margin: 0px auto;
    width: 100%;
    overflow: hidden;
}
#clean-schedule {
    margin: 0px auto;
    width: 100%;
    overflow: hidden;
}
.carousel-caption {
    background: rgba(33, 33, 33, 0.5);
    color: white;
}